@charset 'UTF-8';

html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 1vw;
  background: white;
}
.blog-body {
  background: EBCFB2;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
a, a:visited {
    color: inherit;
}
header {
  position: fixed;
  padding: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.site-logo {
  position: relative;
  display: block;
  float: left;
  width: 3.1em;
}
.site-logo img {
  width: 3.1em;
}
.logo {
  opacity: 20;
}
.site-nav {
  position: relative;
  float: right;
  z-index: 400;
  top: 0;
  left: 0;
  display: block !important;
  width: 80%;
  padding: .75em 1em 0 0;
  opacity: .95;
  background: none;
}
.site-nav ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
}
.site-nav ul li {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.5em;
}
.site-nav ul li a {
  font-size: .85em;
  padding-bottom: .5em;
  text-decoration: none;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.site-nav ul li a:hover {
  outline: none;
  border-bottom: 1px solid white;
}
.hero {
  position: relative;
  height: 54vw;
  margin-top: -3.5em;
  padding-top: 10em;
  background-image:-moz-linear-gradient( -45deg, rgb(52, 204, 235) 0%, rgb(52, 235, 183) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(52, 204, 235) 0%, rgb(52, 235, 183) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(52, 204, 235) 0%, rgb(52, 235, 183) 100%);
}
.hero-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #fff;
  position: absolute;
  z-index: 200;
  padding-top: 1em;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.domestic-blog-head {
  position: relative;
  height: 25vw;
  margin-top: 0em;
  padding-top:10em;
  background-image:-moz-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
}
.environmental-blog-head {
  position: relative;
  height: 25vw;
  margin-top: 0em;
  padding-top:10em;
  background-image:-moz-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
}
.chemical-blog-head {
  position: relative;
  height: 25vw;
  margin-top: 0em;
  padding-top:10em;
  background-image:-moz-linear-gradient( 135deg, rgb(143, 52, 235) 0%, rgb(198, 52, 235) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(143, 52, 235) 0%, rgb(198, 52, 235) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(143, 52, 235) 0%, rgb(198, 52, 235) 100%);
}
.blog-head-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #fff;
  position: absolute;
  z-index: 200;
  padding-top: 5em;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.h2-hero {
	font-weight: 100;
	font-size: 2em;
    line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 13%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
.h1-hero {
  margin-bottom: 1.5%;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .35em;
  margin-left: .7em;
  font-size: 8.5vw;
}
.h3-hero {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2.75;
  letter-spacing: .35em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
.h2-blog {
	font-weight: 100;
	font-size: 2em;
    line-height: 1.75;
	margin-bottom: .35em;
	padding-top: 2%;
	letter-spacing: .2em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
.h1-blog {
  margin-bottom: 0.2%;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .15em;
  margin-left: .7em;
  font-size: 6vw;
}
.h3-blog {
  font-size: 1em;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: .35em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
.intro {
  position: relative;
  color: #343144;
  background: #fff;
  padding: 8em 6em 8em;
}
.intro-text {
  position: relative;
}
.intro p {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 2.5em;
  line-height: 1.8;
  position: relative;
  z-index: 200;
  text-align: center;
  letter-spacing: .2em;
}
.domestic-blog {
  position: relative;
  color: #343144;
  background: #FFF8E8;
  padding: 4em 14em 4em;
}
.environmental-blog {
  position: relative;
  color: #343144;
  background: #FFF8E8;
  padding: 4em 14em 4em;
}
.chemical-blog {
  position: relative;
  color: #343144;
  background: #FFF8E8;
  padding: 4em 14em 4em;
}
.blog-text {
  position: relative;
}
.blog p {
  font-family: 'actor',sans-serif;
  font-size: 1.2em;
  line-height: 1.2;
  position: relative;
  z-index: 200;
  text-align: left;
  letter-spacing: .1em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.artworks {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.artwork {
  display: flex;
  transition: color .3s;
}
.artwork .artwork-piece {
  padding: 8% 0 8% 23.5%;
  background-image:-moz-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  width: 50%;
}
.artwork-piece figure {
  position: relative;
}
.artwork-piece figure img {
  position: relative;
  z-index: 100;
}
.artwork .domestic-policy {
  background-image:-moz-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  color: #fff;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: auto;
}
.artwork .environmental {
  background-image:-moz-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  color: #fff;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: auto;
}
.artwork .chemical {
  background-image:-moz-linear-gradient( 135deg, rgb(143, 52, 235) 0%, rgb(198, 52, 235) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(143, 52, 235) 0%, rgb(198, 52, 235) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(143, 52, 235) 0%, rgb(198, 52, 235) 100%);  
  color: #fff;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: auto;
}
.artwork-title {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 3em;
  font-weight: 100;
  padding: 2em 0 0 0;
  letter-spacing: .36em;
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 9em;
  margin-bottom: .5em;
  text-align: center;
}
.artwork-text {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  line-height: 1.9;
  opacity: .8;
  max-width: 20em;
  color: #fff;
  text-align: center;
}
.see-more {
  text-align: center;
  font-size: 1em;
  display: inline-block;
  margin-top: 4.1em;
  padding: 0 0 .4em 0;
  transition: all .3s;
  text-decoration: none;
}
.see-more:hover {
  border-bottom: 1px solid white;
}
footer {
  margin-top: -3.5em;
  padding-top: 10em;
  background-image:-moz-linear-gradient( -45deg, rgb(52, 204, 235) 0%, rgb(52, 235, 183) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(52, 204, 235) 0%, rgb(52, 235, 183) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(52, 204, 235) 0%, rgb(52, 235, 183) 100%);
}
.footer-content {
  width: 64%;
  margin: 0 auto;
	padding-bottom:1.7em;
}
.footer-social {
  display: block;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.footer-social li {
  display: inline-block;
  margin: 0 1.2em;
}
.footer-social li a {
  line-height: 3.5em;
  display: inline-block;
  width: 4em;
  height: 4em;
  text-align: center;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 50%;
}
.footer-social li a:hover {
  border-color: #fff;
  background: #fff;
}
.footer-social li a img {
  width: auto;
  height: 1em;
}
.footer-social li a .social-hover {
  display: none;
}
.footer-social li a:hover .social-default {
  display: none;
}
.footer-social li a:hover .social-hover {
  display: inline;
}
.footer-info {
  clear: both;
  padding-top: 5em;
}
.footer-info p {
  font-size: .8em;
  color:#fff;
  line-height: 1.55;
  max-width: 36em;
  margin-bottom: 1.7em;
}
.footer-disclaimer {
  width: 60%;
  position: relative;
}
.footer-credit {
  float: right;
  width: 40%;
  text-align: right;
  position: relative;
}
.footer-legal {
  opacity: .8;
}
.footer-credit a:hover {
  text-decoration: none;
}